body {
  margin: 0;
  text-align: center;
}

img {
  border-radius: 17%;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Prata', serif;
}

p {
  font-family: 'Nunito Sans', sans-serif;
}

/* Headings */
.large-heading {
  font-size: 5rem;
  font-weight: bold;
}

/* Introduction section */
#introduction {
  background-color: #F9DFDC;
  color: #000000;
  padding: 10% 5% 10%;
  border-radius: 0 0 3% 3%;
}

.introduction-img {
  width: 400px;
  border-radius: 0;
  margin: 4%;
}

.introduction-paragraph {
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: left;
}

/* Hobbies section  */
  .hobby-heading {
    background-color: #0A81AB;
    margin: 0;
    padding-top: 7%;
    font-size: 3.2rem;
    border-radius: 3% 3% 0 0;
    font-weight: 600;
  }

  .hobby-name {
    padding-bottom: 3%;
    font-size: 2.5rem;
    text-align: left;
    text-decoration: underline;
    font-weight: 400;
  }

  .hobby-paragraph {
    padding: 0 5%;
    order: 2;
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: left;
  }
/* Animals hobby */

.animals-hobby {
  padding: 8% 5%;
  background-color: #0A81AB;
  border-radius: 0 0 3% 3%;
}

.hobby-first-row {
  display: flex;
}

.first-dog-image {
  width: 300px;
  order: 1;
  transform: rotate(-10deg);
  object-fit: scale-down;
}

.second-dog-image {
  width: 300px;
  order: 3;
  transform: rotate(10deg);
  object-fit: scale-down;
}

.horse-image {
  width: 250px;
  object-fit: scale-down;
}

/* Bike hobby */

.bike-hobby{
  padding: 8% 5%;
  background-color: #F9DFDC ;
  border-radius: 3% 3% 3% 3%;
}

.bike-image {
  width: 300px;
  order: 1;
  object-fit: scale-down;
  border-radius: 0;
}

/* Footer */

#footer {
  padding-top: 3%;
}

.social-media {
    padding: 5% 2%;
}

.social {
  margin: 2%;
  text-decoration: none;
  color: black;
}

.copyright {
  text-align: left;
}

/* Media */

@media (max-width: 1100px) {

  #introduction {
    padding-top: 15%;
  }

  .introduction-paragraph {
    font-size: 2rem;
    text-align: center;
  }

  .introduction-img {
    width: 400px;
    border-radius: 0;
    margin: 4%;
  }

  .hobby-first-row {
    display: block;
  }

  .hobby-paragraph {
    font-size: 2rem;
    text-align: center;
  }

  .hobby-heading {
    font-size: 4rem;
  }

  .hobby-name {
    font-size: 3rem;
  }

  .first-dog-image {
    width: 300px;
    transform: rotate(0);
  }

  .second-dog-image {
    width: 300px;
    transform: rotate(0);
  }

  .horse-image {
    width: 250px;
  }

  .social {
    font-size: 3rem;
  }

  .copyright {
    font-size: 1.5rem;
  }
}
